@import "vars";

body {
    background-color: $white;
    font-size: 21px;
    color: $black;
}

/*Blocks*/
@import "blocks/header";
@import "blocks/home-title";
@import "blocks/home-who-we-are.scss";