
.home-services {
    &__container {
        display: flex;
        margin: 0 -25px;
        margin: 0 auto;
        max-width: 1280px;
    }
    &__corporate,
    &__social{
        display: flex;
        margin: 0 25px;
        flex-direction: column;
        background-color: #EFEFEF;
        padding: 60px 50px 140px;
        h2{
            color: $red;
            font-size: 36px;
            text-transform: uppercase;
        }
        span{
            color: #404040;
            font-family: "brandon-grotesque", sans-serif;
            font-size: 1.2rem;
            line-height: 1.5;
            letter-spacing: 2px;
        }
        button{
          @include btn;
        }
        button:hover{
          @include btn-hover;
        }
    }
    &__social{
        background-color: #f4d3d6;
        button{
            background-color: #f4d3d6;
        }
    }
}